.*
custom_components/
deps/
esphome/
neighbours/
tts/
www/
backup.yaml
home-assistant.log*
home-assistant_v2.db*
known_devices.yaml
options.xml
plex.conf
pyozw.sqlite
secrets.yaml
service_account.json