.HA_VERSION
.homekit.state
.ios.conf
.storage/
.uuid
OZW_Log.txt
deps/
fullchain.pem
home-assistant.log
home-assistant_v2.db
known_devices.yaml
options.xml
plex.conf
privkey.pem
pyozw.sqlite
secrets.yaml
www/TileBoard/
tts/
www/grafana/
www/lily.jpg
www/me.jpg
www/test.png
zwcfg_0xd384282a.xml
zwscene.xml